# My stuff

*~
.DS_Store
files/*.save
files/*.db
files/*.store
files/*.log
files/*.cfg
connector_profiles/*.html

# Eclipse / PyDev

.project
.pydevproject
.settings

# Added by github.com

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
*.AppleDouble
