[
	{
		"command": "smtp_config",
		"host": "mail.example.com",
		"port": 25,
		"user": "myuser123",
		"pass": "secret"
	},
	{
		"command": "create_observer",
		"name": "Bugaboo",
		"profile": "Willhaben",
		"url": "http://www.willhaben.at/iad/kaufen-und-verkaufen/baby-kind/transport/",
		"store": true,
		"interval": 120,
		"trigger":
		[
			{
				"tag": "title",
				"type": "any",
				"keywords": [ "bugaboo" ]
			}
			{
				"tag": "title",
				"type": "not",
				"keywords": [ "teutonia" ]
			}
		],
		"notification":
		[
			{
				"type": "email",
				"to": [ "John Doe <john.doe@example.com>" ]
			}
		]
	}
]